/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "FM Bolyar Sans Pro";
  src: url("./font/FMBolyarSansPro-700.woff2") format("woff2"),
    url("./font/FMBolyarSansPro-700.ttf") format("ttf"),
    url("./font/FMBolyarSansPro-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*сброс*/
body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

legend {
  padding: 0;
}

h2 {
  margin: 0;
  font-weight: 700;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

/*общие стили страниы с формой*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  color: rgba(154, 154, 154, 1);

}

.text {
  margin-bottom: 45px;

  font-family: "FM Bolyar Sans Pro", "Arial", sans-serif;
  font-size: 28px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}


/* header  */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7px 0 11px 36px;
    height: 54px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: white;
}

.header-left {
  font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(99, 78, 62);
}

.header-left a {
  display: inline-block;
}

.social-inst {
  margin-right: 37px;
}

.header-left img {
  vertical-align: sub;
}

.header-left span {
  display: inline-block;
  padding-left: 13px;
}

.logo {
      padding-right: 48%;
    margin-left: auto;
}

/*блок информации*/
.info {
  width: 50%;
  padding-top: 72px;
}

.info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 420px;

  padding-top: 46px;
  padding-left: 44px;
  padding-right: 20px;
}

.info__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;

  margin-bottom: 44px;
}

.info__input-wrap--date {
  margin-bottom: 90px;
}

.info__input-wrap--date::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 22px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 3C20.104 3 21 3.896 21 5V19C21 20.104 20.104 21 19 21H5C3.896 21 3 20.104 3 19V5C3 3.896 3.896 3 5 3H19ZM19 5H5V19H19V5Z' fill='%23FF6B00'/%3E%3Cpath d='M20 7H4V9H20V7Z' fill='%23FF6B00'/%3E%3Cpath d='M13 6.99994H11V8.99994H13V6.99994Z' fill='%23FF6B00'/%3E%3Cpath d='M17 7H15V9H17V7Z' fill='%23FF6B00'/%3E%3Cpath d='M9 11.0001H7V13.0001H9V11.0001Z' fill='%23FF6B00'/%3E%3Cpath d='M13 11.0001H11V13.0001H13V11.0001Z' fill='%23FF6B00'/%3E%3Cpath d='M17 11H15V13H17V11Z' fill='%23FF6B00'/%3E%3Cpath d='M9 15H7V17H9V15Z' fill='%23FF6B00'/%3E%3Cpath d='M13 15H11V17H13V15Z' fill='%23FF6B00'/%3E%3Cpath d='M17 15H15V17H17V15Z' fill='%23FF6B00'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right center;
  pointer-events: none;
}

label.error {
  position: absolute;
  right: 0;
  top: 20px;
  padding-right: 30px;
  color: rgba(255, 107, 0, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM6.83881 3.54547H9.16089L8.94854 10.1055H7.05116L6.83881 3.54547ZM9.20244 11.9336C9.19321 12.5984 8.63461 13.1339 8.00216 13.1339C7.33738 13.1339 6.79264 12.5984 6.80187 11.9336C6.79264 11.2781 7.33738 10.7472 8.00216 10.7472C8.63461 10.7472 9.19321 11.2781 9.20244 11.9336Z' fill='%23FF6B00'/%3E%3C/svg%3E%0A");
  background-position: right center;
  background-repeat: no-repeat;
}

.error .info__input {
  border-bottom: 3px rgba(255, 107, 0, 1)  solid;
}

.info__input {
  width: 100%;

  padding: 19px 0 6px;

  font-size: 18px;
  line-height: 26.8px;
  color: rgba(0, 0, 0, 1);

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px rgba(196, 196, 196, 1) solid;
}

.info__input:active,
.info__input:focus {
  outline: none;
  border-bottom: 2px rgba(255, 107, 0, 1) solid;

}

.info__input:focus + label {
  color: rgba(255, 107, 0, 1);
}

.info__item {
  position: absolute;
  top: 0;
  z-index: 1;

  font-size: 14px;
  line-height: 21px;
  color: rgba(105, 105, 105, 1);

  -webkit-transition: all 0.2s;

  -o-transition: all 0.2s;

  transition: all 0.2s;
  -ms-touch-action: manipulation;
      touch-action: manipulation;

  pointer-events: none;
}

.info__item:focus {
  outline: none;
}

.info__input:placeholder-shown + label {
  cursor: text;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate(0, 1.425rem) scale(1);
      -ms-transform: translate(0, 1.425rem) scale(1);
          transform: translate(0, 1.425rem) scale(1);;
}

::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

::-moz-placeholder {
  opacity: 0;
  -moz-transition: inherit;
  transition: inherit;
}

.info__input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.info__input:not(:placeholder-shown) + label,
.info__input:focus + label {
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.info__input-text {
  margin-top: 3px;
}

.info__item--active {
  top: -42px;
  margin-top: 21px;

  color: rgba(255, 107, 0, 1);
}

.info__item--filled {
  color: rgba(105, 105, 105, 1);;
}

.info__input-wrap--warning::before {
  content: "";
  position: absolute;
  top: 21px;
  right: 0;
  z-index: 1;
  width: 160px;
  height: 21px;
  background-image: url(./img/warning.png);
}

.info__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  min-height: 46px;
  width: 100%;

  margin-bottom: 30px;

  font-size: 18px;
  line-height: 26.8px;
  color: rgba(105, 105, 105, 1);

  border-bottom: 1px rgba(196, 196, 196, 1) solid;
}

.info__buttons input[type=radio] {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
}

.info__place {
  position: relative;
}

.info__button {
  padding-bottom: 26px;

  cursor: pointer;
}

.info__button::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 107, 0, 1);

  opacity: 0;
}

.info__button:hover::before {
  opacity: 1;
}

.info__place--spa:hover,
.info__place--spa:focus {
  outline: none;
}

.info__place input[type=radio]:checked + label {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.info__place input[type=radio]:checked + label::before {
  opacity: 1;
}

.info__address-spa,
.info__address-home {
  margin-bottom: 32px;
}

.info__address-spa input[type=radio] {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
}

.info__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  height: 80px;
  padding: 20px;
  border-radius: 18px;
  cursor: pointer;
}

.info__radio img {
  margin-right: 22px;
}

.info__station {
  margin-bottom: 4px;
  padding-left: 30px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);

  background: url(./img/metro.png) no-repeat 0 center;
}

.info__address {
  max-width: 180px;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(99, 78, 62, 1);
}

.info__radio:hover {
  background-color: rgba(255, 107, 0, 0.05);
}

.info__radio:focus {
  background-color: rgba(255, 107, 0, 1);
}

.info__metro input[type=radio]:checked + label {
  background-color: rgba(255, 107, 0, 1);
}

.info__input::-webkit-input-placeholder {
  color: #ffffff;
}

.info__input::-moz-input-placeholder {
  color: #ffffff;
}


/*блок с сабмитом*/
.card {
  width: 50%;
  height: 100vh;

  position: fixed;
  right: 0;
  top: 72px;
  overflow-y: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  max-width: 675px;

  padding: 46px 50px 20px;
  margin: 0 auto;
}

.card--gold {
  background-color: rgba(255, 241, 210, 1);
}

.card--red {
  background-color: rgba(255, 232, 226, 1);
}

.card--blue {
  background-color: rgba(225, 233, 238, 1);
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  max-width: 576px;
  width: 100%;
  height: 112px;

  border-bottom: 1px rgba(196, 196, 196, 1) solid;
}

.card__buttons span:first-child {
  display: block;

  font-size: 12px;
  line-height: 18px;
}

.card__buttons span:last-child {
  display: block;

  padding-top: 4px;

  font-size: 16px;
  line-height: 18.8px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.card__buttons input[type=radio] {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
}

.card__button {
  position: relative;

  width: 180px;
}

.card__radio {
  display: inline-block;

  padding-top: 53px;
  padding-bottom: 20px;
  cursor: pointer;
}

.card__radio--red {
  color: rgba(99, 78, 62, 1);
}

.card__radio--blue {
  color: rgba(63, 82, 99, 1);
}

.card__radio--gold {
  color: rgba(74, 64, 45, 1);
}

.card__radio::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 107, 0, 1);

  opacity: 0;
}

.card__radio:hover::before {
  opacity: 1;
}

.card__button input[type=radio]:checked + label::before {
  opacity: 1;
}

.card__button--gold {
  background-image: url(./img/DT-mini-gold-card.png);
  background-repeat: no-repeat;
  background-size: 52px 50px;
}

.card__button--red {
  background-image: url(./img/DT-mini-red-card.png);
  background-repeat: no-repeat;
  background-size: 52px 50px;
}

.card__button--blue {
  background-image: url(./img/DT-mini-blue-card.png);
  background-repeat: no-repeat;
  background-size: 52px 50px;
}

.card__total {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 26.8px;
  color: rgba(0, 0, 0, 1);
}

.card__total-text {
  display: block;
  padding-bottom: 7px;

  font-size: 20px;
  line-height: 29.8px;
  font-weight: 700;
}

.card__price {
  display: inline-block;

  font-size: 24px;
  line-height: 35.8px;
  font-weight: 700;
}

.card__image {
  width: 100%;
  height: 30vh;
  max-height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__image--gold {
  background-image: url(./img/DT-gold-card.png);
}

.card__total--gold .card__total-text {
  color: rgba(99, 78, 63, 1);
}

.card__image--red {
  background-image: url(./img/DT-red-card.png);
}

.card__total--red .card__total-text {
  color: rgba(99, 78, 63, 1);
}

.card__image--blue {
  background-image: url(./img/DT-blue-card.png);
}

.card__total--blue .card__total-text {
  color: rgba(63, 82, 99, 1);
}

.card__btn {
  position: relative;

  width: 280px;
  height: 58px;

  margin: 43px auto;
  padding: 20px 24px;

  text-align: left;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(255, 107, 0, 1);
  border-radius: 11px;

  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0px 2px 2px rgba(0,0,0,.24);

          box-shadow: 0 0 2px rgba(0,0,0,.12), 0px 2px 2px rgba(0,0,0,.24);

  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.card__btn:hover,
.card__btn:focus,
.card__btn:active {
  outline: none;
}

.card__btn:hover {
  background-image: -webkit-gradient(linear,left bottom, left top,from(rgba(189,189,189,.1)),to(rgba(189,189,189,.1))),#ef720d;
  background-image: -o-linear-gradient(bottom,rgba(189,189,189,.1),rgba(189,189,189,.1)),#ef720d;
  background-image: linear-gradient(0deg,rgba(189,189,189,.1),rgba(189,189,189,.1)),#ef720d;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.12), 0px 4px 4px rgba(0,0,0,.24);
          box-shadow: 0 0 4px rgba(0,0,0,.12), 0px 4px 4px rgba(0,0,0,.24);
}

.card__btn:active {
  background-image: -webkit-gradient(linear,left bottom, left top,from(rgba(189,189,189,.3)),to(rgba(189,189,189,.3))),#ef720d;
  background-image: -o-linear-gradient(bottom,rgba(189,189,189,.3),rgba(189,189,189,.3)),#ef720d;
  background-image: linear-gradient(0deg,rgba(189,189,189,.3),rgba(189,189,189,.3)),#ef720d;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.12), 0px 8px 8px rgba(0,0,0,.24);
          box-shadow: 0 0 8px rgba(0,0,0,.12), 0px 8px 8px rgba(0,0,0,.24);
}

.card__btn::before {
  content: "";
  position: absolute;
  right: 24px;
  top: 24.5px;
  width: 18px;
  height: 11px;
  background-image: url(./img/arrow.png);
  background-repeat: no-repeat;
}

.popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.popup__content {
  width: 402px;
  min-height: 208px;
  padding: 76px 95px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  text-align: center;
}

.popup h2 {
  font-family: "FM Bolyar Sans Pro", "Arial", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 149%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 21px;
}


.popup p {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(105, 105, 105, 1);
  margin-bottom: 50px;
}

.popup button {
  width: 138px;
  height: 58px;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 107, 0, 1);
  -webkit-box-shadow: 0px 2px 4px rgba(255, 114, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(255, 114, 0, 0.25);
  border-radius: 12px;

  font-family: "Work Sans", "Arial", sans-serif;
}

.info__btn {
  display: none;
}

@media (max-width: 1034px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  text {
    margin-bottom: 32px;
  }

  .header {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 0;
    height: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(transparent));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), transparent);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent);
    background-color: transparent;
  }

  .header-left {
    display: none;
  }

  .logo {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .logo img { 
    width: 113px;
    height: 47.71px;
  }

  .card__btn {
    display: none;
  }

  .card {
    position: relative;

    width: 100%;
    height: auto;

    top: 50px;

    -webkit-box-ordinal-group: 0;

        -ms-flex-order: -1;

            order: -1;
  }

  .container {
    min-width: 290px;
    max-width: 320px;
    padding: 47px 10px 0 20px;
    margin: 0 auto;

    text-align: center;
  }

  .card__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 290px;
    height: auto;

    border-bottom: none;
  }

  .card__button {
    position: relative;

    width: 100%;
      height: 70px;

    text-align: left;

    background-position: right;
  }

  .card__button input[type=radio]:checked + label {
    border-bottom: none;
  }

  .card__button:hover {
    border-bottom: none;
  }

  .card__radio {
    padding-top: 13px;
    padding-left: 40px;
  }

  .card__radio::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 25px;
    left: 0;

    border: 3px rgba(255, 241, 210, 1) solid;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 107, 0, 1);
            box-shadow: 0 0 0 2px rgba(255, 107, 0, 1);
    background-color: transparent;
    opacity: 1;
  }

  .card__button input[type=radio]:checked + label::before {
    background-color: rgba(255, 107, 0, 1);
  }

  .card__total {
    padding-bottom: 56px;

    background-position: center 45px;
  }

  .card__image {
    margin-top: 45px;
    height: 180px;
  }

  .card__image--gold {
    background-image: url(./img/Mb-gold-card.png);
  }

  .card__image--red {
    background-image: url(./img/Mb-red-card.png);
  }

  .card__image--blue {
    background-image: url(./img/Mb-blue-card.png);
  }

  .info {
    width: 100%;
    padding-top: 36px;
  }

  .info__wrap {
    width: 280px;
    padding: 36px 20px 0;
    margin: auto;
  }

  .info__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    border-bottom: none;
  }

  .info__place {
    position: relative;

    padding-left: 32px;

    font-size: 16px;
    line-height: 24px;
  }

  .info__place--spa {
    padding-bottom: 23px;
  }

  .info__place--home {
    padding-bottom: 40px;
  }

  .info__place label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;

      border: 3px rgba(255, 255, 255, 1) solid;
      border-radius: 50px;
      -webkit-box-shadow: 0 0 0 2px rgba(255, 107, 0, 1);
              box-shadow: 0 0 0 2px rgba(255, 107, 0, 1);
      background-color: rgba(255, 255, 255, 1);
      opacity: 1;
  }

  .info__place--spa:hover,
  .info__place--spa:focus {
    border-bottom: none;
  }

  .info__place input[type=radio]:checked + label {
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
  }

  .info__place input[type=radio]:checked + label::before {
    background-color: rgba(255, 107, 0, 1);
  }

  .info__place--home:hover,
  .info__place--home:focus {
    border-bottom: none;
  }

  .info__button--spa,
  .info__button--home {
    border-bottom: none;
  }

  .info__metro {
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0;
  }

  .info__radio {
    border-radius: 0;
  }

  .info__input-wrap--date {
    margin-bottom: 0;
  }


  .info__btn {
    display: block;
    position: relative;

    width: 280px;
    height: 58px;

    margin: 34px auto;
    padding: 20px 24px;

    text-align: left;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);

    background-color: rgba(255, 107, 0, 1);
    border-radius: 11px;
    cursor: pointer;
  }

  .info__btn:hover,
  .info__btn:focus,
  .info__btn:active {
    outline: none;
  }

  .info__btn::before {
    content: "";
    position: absolute;
    right: 24px;
    top: 24.5px;
    width: 18px;
    height: 11px;
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
  }

  .popup__content {
    padding: 30px;
  }
}

.hidden {
  display: none;
}

@media (min-width: 1400px) {
  .info__wrap {
    margin: 0 auto;
  }

  .header-left {
    margin-left: auto;
  }
}

.js-red::before {
  border-color: rgba(255, 232, 226, 1);
}

.js-blue::before {
  border-color: rgba(225, 233, 238, 1);
}

.js-gold::before {
  border-color: rgba(255, 241, 210, 1);
}