@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'FMBolyar Sans Pro 400';
    src: url('./font/FMBolyarSansPro-400.eot');
    src: local('FMBolyar Sans Pro 400'), local('FMBolyarSansPro-400'),
        url('./font/FMBolyarSansPro-400.eot?#iefix') format('embedded-opentype'),
        url('./font/FMBolyarSansPro-400.woff2') format('woff2'),
        url('./font/FMBolyarSansPro-400.woff') format('woff'),
        url('./font/FMBolyarSansPro-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FMBolyar Sans Pro 500';
    src: url('./font/FMBolyarSansPro-500.eot');
    src: local('FMBolyar Sans Pro 500'), local('FMBolyarSansPro-500'),
        url('./font/FMBolyarSansPro-500.eot?#iefix') format('embedded-opentype'),
        url('./font/FMBolyarSansPro-500.woff2') format('woff2'),
        url('./font/FMBolyarSansPro-500.woff') format('woff'),
        url('./font/FMBolyarSansPro-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FMBolyar Sans Pro 100';
    src: url('./font/FMBolyarSansPro-100.eot');
    src: local('FMBolyar Sans Pro 100'), local('FMBolyarSansPro-100'),
        url('./font/FMBolyarSansPro-100.eot?#iefix') format('embedded-opentype'),
        url('./font/FMBolyarSansPro-100.woff2') format('woff2'),
        url('./font/FMBolyarSansPro-100.woff') format('woff'),
        url('./font/FMBolyarSansPro-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FMBolyar Sans Pro 600';
    src: url('./font/FMBolyarSansPro-600.eot');
    src: local('FMBolyar Sans Pro 600'), local('FMBolyarSansPro-600'),
        url('./font/FMBolyarSansPro-600.eot?#iefix') format('embedded-opentype'),
        url('./font/FMBolyarSansPro-600.woff2') format('woff2'),
        url('./font/FMBolyarSansPro-600.woff') format('woff'),
        url('./font/FMBolyarSansPro-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FMBolyar Sans Pro 700';
    src: url('./font/FMBolyarSansPro-700.eot');
    src: local('FMBolyar Sans Pro 700'), local('FMBolyarSansPro-700'),
        url('./font/FMBolyarSansPro-700.eot?#iefix') format('embedded-opentype'),
        url('./font/FMBolyarSansPro-700.woff2') format('woff2'),
        url('./font/FMBolyarSansPro-700.woff') format('woff'),
        url('./font/FMBolyarSansPro-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FMBolyar Sans Pro 900';
    src: url('./font/FMBolyarSansPro-900.eot');
    src: local('FMBolyar Sans Pro 900'), local('FMBolyarSansPro-900'),
        url('./font/FMBolyarSansPro-900.eot?#iefix') format('embedded-opentype'),
        url('./font/FMBolyarSansPro-900.woff2') format('woff2'),
        url('./font/FMBolyarSansPro-900.woff') format('woff'),
        url('./font/FMBolyarSansPro-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html {
    background: #FDB442;
}

.hidden {
    display: none;
}

.body {
    font-family: 'Work Sans', "Arial", sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
}

section {
    width: 100%;
}

a:hover {
    opacity: 0.8;
}

.button {
    padding: 21px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FF6B00;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    max-width: 280px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1;
    font-family: "Work Sans", sans-serif;
}

.button span {
    color: #fff;
    font-weight: bold;
}

.h1 {
    font-family: 'FMBolyar Sans Pro 900';
    font-size: 36px;
    margin: 0 0 20px 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 129%;
    
}

.h2 {
    font-family: 'FMBolyar Sans Pro 600';
    font-size: 36px;
    margin: 0 0 20px 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 129%;
    font-weight: 600;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 66px;
    box-sizing: border-box;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

.logo {
    padding-left: 206px;
}

.sosial-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
}

.sosial-item span {
    color: #634E3E;
    font-size: 16px;
    margin-left: 10px;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.header-cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.header-cart span {
    font-size: 16px;
    color: #FF6B00;
    margin-right: 10px;
}

.header-cart img {
    margin-right: 8px;
}

.round {
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 8px;
    border: 1px #fff solid;
    position: absolute;
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin: -10px 0 0 0;
}

.home-one {
    height: 674px;
}

.home-one-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-one-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-one .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.after-title {
    font-size: 22px;
    font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
    font-weight: 700;
    line-height: 149%;
    text-transform: uppercase;
}

.home-one-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 0;
}

.home-one-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30px;
}

.home-one-item span {
    font-size: 18px;
    padding: 10px 14px;
    background: #fff;
    line-height: 20px;
}

.home-one-item span:first-child {
    font-weight: bold;
    color: #000;
    border-radius: 8px 8px 8px 0;
}

.home-one-item span:nth-child(2) {
    color: #634E3E;
    margin-top: -8px;
    border-radius: 0 8px 8px 8px;
}

.home-one .button {
    margin-bottom: 50px;
} 

.after-text-one {
    font-weight: bold;
    margin-bottom: 14px;
}

.home-two .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 78px 153px;
}

.logo-brdr {
        display: block;
    margin: auto;
    margin-top: 43px;
    margin-bottom: 16px;
}

.home-two .h2 {
    text-align: center;
    text-transform: none;
    font-weight: 600;
    line-height: 129%;
    margin-bottom: 25px;
}

.home-two-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 20px 0 37px 0;
}

.home-two-item {
    height: 200px;
    width: calc(20% - 20px);
    margin: 10px;
    border-radius: 25px;
    overflow: hidden;
}

.home-two-block-bgr {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 26px;
    box-sizing: border-box;
}

.home-two-item span {
    color: #fff;
}

.home-two-one {
    text-align: center;
    color: #5B5B5B;
}

.home-two-one strong {
    color: #000;
}

.home-two-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 50px 0;
}

.home-two-two span {
    font-weight: bold;
}

.home-two .button {
   font-size: 16px;
    line-height: 1;
    font-family: "Work Sans", sans-serif;
}

.home-three {
    height: 670px;
    background: url(img/007-img.jpg) center center; background-size: cover;
}

.home-three .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.home-three .h2 {
    font-family: "FMBolyar Sans Pro 900", "Arial", sans-serif;
    color: #fff;
    font-weight: 900;
    text-transform: none;
}

.home-three-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-three-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 280px;
    margin-right: 60px;
    margin-top: 30px;
}

.home-two-item-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.home-two-item-top .icon {
    width: 44px;
    height: 44px;
    background: rgba(255,255,255,0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.home-two-item-top .icon img {
    width: 24px;
    height: auto;
}

.home-two-item-top span {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.home-three-item .descriptions {
    color: #ABABAB;
    font-size: 16px;
    line-height: 149%;
    margin-top: 20px;
}

.home-three-text {
    margin: 60px 0;
    color: #ABABAB;
    font-size: 16px;
}

.home-three .home-three-bottom {
        margin: 40px 0 60px;
}

.home-four .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 153px;
}

.home-four .h2 {
    text-align: center;
    text-transform: none;
    margin-bottom: 0;
}

.home-four-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 33px 0 45px;
    width: 100%;
    max-width: 1035px;
}

.home-four-item {
    margin: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 25px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-four-block .home-four-item:first-child {
    width: calc(50% - 20px);
}

.home-four-block .home-four-item:nth-child(4) {
    width: calc(50% - 20px);
}

.home-four-block .home-four-item:nth-child(2) {
    width: calc(25% - 20px);
}

.home-four-block .home-four-item:nth-child(3) {
    width: calc(25% - 20px);
}

.home-four-item span {
    color: #634E3E;
    font-size: 16px;
}

.home-four-item .number {
    font-size: 36px;
    line-height: 150%;
}

.home-four .button {
    margin: 0;
}

.home-five {
    padding-bottom: 69px;
}

.home-five .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 66px 0 25px;
}

.home-five-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-five .h2 strong {
    color: #FF6B00;
}

.home-five-item span {
    color: #634E3E;
}

.number {
    font-family: "FMBolyar Sans Pro 100", "Arial", sans-serif;
    font-size: 36px;
    line-height: 150%;
    font-weight: 100;
}

.home-five-item-m {
    margin-top: 40px;
}

.home-six {
    padding-bottom: 103px;
    padding-top: 27px;
}

.home-six .h2 {
    font-family: "FMBolyar Sans Pro 500";
    font-weight: 500;
    text-transform: none;
    text-align: center;
    margin: 0;
}


.home-six .h2-text {
    margin-bottom: 31px;
    margin-top: 22px;
}

.home-six .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 55px;
}

.home-six-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.home-six-item {
    margin: 10px;
    background: #FFEBCC;
    padding: 5px 14px;
    box-sizing: border-box;
    border-radius: 25px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.home-six-item .img {
    width: 58px;
    height: 80px;
    border-radius: 29px;
}

.text-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 12px;
    line-height: 16px;
}

.text-box .title {
    font-size: 12px;
    color: #000 !important;
    margin-bottom: 6px;
    font-weight: bold;
}

.text-box span {
    font-size: 12px;
    color: #634E3E;
}

.h2-text {
    font-size: 21px;
    color: #5B5B5B;
    margin-bottom: 45px;
}

.home-seven {
    padding-bottom: 40px;
    padding-top: 148px;
}

.home-seven h2 {
    font-family: "FMBolyar Sans Pro 500", "Arial", sans-serif;
    font-size: 36px;
    line-height: 129%;
    text-transform: none;
}

.home-seven .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-seven-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 926px;
}

.home-seven-item {
    margin: 10px;
    width: calc(100% - 20px);
    padding: 34px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 25px;
    height: 250px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-seven-item h3 {
    margin: 0 0 18px 0;
    font-size: 18px;
    color: #634E3F;
    font-weight: bold;
    padding: 0;
}

.home-seven-item span strong{
    font-size: 24px;
}

.home-seven-item:nth-child(3) h3 {
    color: #fff;
}

.home-seven-item:nth-child(3) span {
    color: #EEC360;
}

.home-seven .button {
    margin: 38px 0 30px 0;
}

.qant {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.h2-text-2 {
    font-size: 17px;
    text-align: center;
    line-height: 180%;
        color: #5B5B5B;
    margin-bottom: 45px;
}

.home-eight .container{
    background: #FFEBCC;
    height: 369px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 66px;
}

.home-eight-left {
    width: 30%;
}

.home-eight-left .h2 {
    font-family: "FMBolyar Sans Pro 400", "Arial", sans-serif;
    font-weight: 400;
    line-height: 129%;
    text-transform: none;
}

.home-eight-right {
    width: 67.5%;
    height: 100%;
}

.home-nine .container{
    background: #FFEBCC;
    padding-top: 88px;
    padding-bottom: 97px;
}

.home-nine .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.home-nine-item img {
    margin-right: 12px;
}

.home-nine-item span {
    color: #634E3E;
    font-size: 16px;
    font-weight: bold;

}

.home-nine-item strong {
    color: #000;
}

.home-nine-item .phone {
    font-size: 24px;
    margin-top: 6px;
    display: inline-block;
    font-family: "FMBolyar Sans Pro 400", "Arial", sans-serif;
    font-size: 20px;
    line-height: 129%;
    font-weight: 400;
    letter-spacing: -0.08em;
}

.footer {
    padding-top: 69px;
    padding-bottom: 52px;
    box-sizing: border-box;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-left span {
    margin-top: 36px;
    color: #634E3E;
    font-size: 16px;
}

.footer-left span a {
    color: #FF6B00;
    text-decoration: none;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 55px;
}

.footer-center .logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-center .border {
    height: 100%;
    width: 1px;
    background: #3F4447;
    margin: 0 20px;
}

.footer-center span {
    margin-top: 52px;
    color: #3F4447;
    font-size: 16px;
}

.footer-center span a {
    color: #FF6B00;
    text-decoration: none;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-right span {
    text-align: right;
    font-size: 12px;
}

.h2 text {
    margin-right: 1px;
}

.br-moile {
    display: none;
}

.footer .header-left .sosial-item {
    display: none;
}

@media screen and (max-width: 1320px) {
    .home-one-block {
        flex-direction: column;
    }
    
    .home-one-block .home-one-item:first-child {
        margin-bottom: 20px;
    }
    
    .home-one {
        height: auto;
    }
    
    .home-one .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .after-title {
        max-width: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .body {
        padding: 0;
    }
    
    .header {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .home-six-block {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .home-six-item {
        width: 30%;
    }
    
    .container {
        padding: 0px 30px;
    }
    
    .home-eight .container {
        padding-left: 30px;
    }
    
    .home-seven-block {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .home-two .container, .home-four .container, .home-six .container, .home-seven .container {
        padding: 0 20px;
    }

    .home-two .container, 
    .home-four .container {
        padding-bottom: 100px;
    }

    .h1, .h2 {
        font-size: 28px;
    }
    
    .home-nine-item span {
        font-size: 14px;
    } 
}

@media screen and (max-width: 840px) {
    .sosial-item span {
        display: none;
    }
    
    .header-cart span {
        display: none;
    }
    
    .home-two-block {
        box-sizing: border-box;
        flex-wrap: nowrap;
        width: calc(100% + 40px);
        padding: 0 20px;
        overflow-x: auto;
    }
    
    .home-two-item {
        box-sizing: border-box;
        width: 143px;
        flex-shrink: 0;
    }

    .home-two-item:first-child {
        margin-left: 0;
    }

    .home-two-item:last-child {
        margin-right: 20px;
    }
    
    .home-four-block {
        flex-wrap: wrap;
    }
    
    .home-four-item {
        width: calc(50% - 20px) !important;
    }
    
    .home-five .container {
        flex-wrap: wrap;
    }
    
    .home-five-item {
        width: 100%;
    }
    
    .home-five-item .h2 {
        width: 100%;
        text-align: center;
        background: url(img/face.png) bottom right no-repeat;
    }
    
    .home-five-item .h2 br {
        display: none;
    }
    
    .home-five-item-m {
        width: 50%;
        align-items: center;
    }

    .home-five-item-m span {
        text-align: center;
        margin-top: 15px; 
    }

    .home-five-item .h2 {
        text-align: left;
    }
    
    .home-seven-block {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .home-seven-item {
        width: calc(50% - 20px);
    }
    
    .home-eight .container {
        height: 240px;
    }
    
    .home-eight-left {
        width: 40%;
    }
    
    .home-eight-right {
        width: 60%;
    }
    
    .home-nine .container {
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .home-nine-item {
        margin-top: 30px;
        margin-right: 30px;
        width: 45%;
        text-align: center;
    }

    .home-nine-item:last-child {
        flex-grow: 1;
    }
    
    .footer .container {
        flex-wrap: wrap;
    }
    
    .footer-left {
        width: 50%;
    }
    
    .footer-center {
        width: 50%;
        padding: 0;
        align-items: flex-end;
        text-align: right;
    }
    
    .footer-right {
        width: 100%;
        padding-top: 40px;
        justify-content: flex-start;
        align-items: center;
        
    }
    
    .footer-right span {
        text-align: left;
    }
    
    .footer-right span br {
        display: none;
    }

}

@media screen and (max-width: 680px) {
    .button {
        max-width: 100%;
    }
    
    .header-left {
        display: none;
    }
    
    .after-text-one, .after-text-two {
        display: none;
    }
    
    .home-one {
        height: calc(100vh - 70px);
    }
    
    .home-one .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .home-one .button {
        margin-bottom: 0px;
    }
    
    .home-one-block {
        margin: 0 0 10px 0;
    }
    
    .home-one-block .home-one-item:first-child {
        margin-bottom: 10px;
    }
    
    .after-title {
        max-width: 100%;
        font-size: 16px; 
    }
    
    .home-one-item {
        margin-right: 0px;
    }

    .home-one-item, .home-one-block .home-one-item:first-child {
        margin-bottom: 30px;
    }
    
    .footer .container {
        flex-direction: column;
    }
    
    .h1, .h2 {
        font-size: 20px;
        padding-right: 20px;
        margin: 0 0 10px 0;
        box-sizing: border-box;
    }
    
    .home-two .container, .home-four .container {
        padding-top: 40px;
    }
    
    
    .home-two-two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;
    }
    
    .home-two-one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    
    .home-two-two span {
        margin-bottom: 20px;
    }
    
    .home-three {
        height: auto;
    }
    
    .home-three .container {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
        z-index: 1;
    }
    
    .home-three-block {
        flex-direction: column;
    }
    
    .home-four .h2 {
        background: url(img/bottle.png) bottom right no-repeat;
        width: 100%;
    }
    
    .home-four .h2 br {
        display: none;
    }
    
    .br-moile {
        display: block !important;
    }
    
    .home-four-block .home-four-item {
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .home-four-block .home-four-item:nth-child(2) {
        width: calc(50% - 10px) !important;
        margin-left: 0px !important;
        margin-right: 10px !important;
    }
    
    .home-four-block .home-four-item:nth-child(3) {
        width: calc(50% - 10px) !important;
        margin-right: 0px !important;
        margin-left: 10px !important;
    }
    
    .home-four .button {
        margin: 16px 0 50px 0;
    }
    
    .logo-brdr {
        display: none;
    }

    .home-five {
        padding-top: 20px;
    }

    .home-six-item {
        width: auto;
        margin: 10px 7px;
    }
    
    .home-six {
        padding-bottom: 50px;
    }

    .home-six .h2-text {
        text-align: center;
    }
    
    .home-seven-item {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .home-seven .h2 {
        background: url(img/cap.png) bottom right no-repeat;
        width: 100%;
    }
    
    .home-eight .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }
    
    .home-eight-right {
        height: 146px;
        width: 100%;
    }
    
    .home-eight .container br {
        display: none;
    }
    
    .home-eight-left {
        width: 100%;
        padding: 30px 30px 0 30px;
        box-sizing: border-box;
    }
    
    .home-eight-left .h2 {
        margin: 0;
        text-align: center;
    }
    
    .home-nine .container {
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    .home-nine-item {
        margin-top: 30px;
        margin-right: 0;
        width: 100%;
    }

    .footer {
        padding-top: 36px;
        padding-bottom: 10px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-left {
        width: 100%;
        margin-bottom: 0;
    }
    
    .footer .header-left {
        display: flex;
        margin: 20px 0 0 0;
    }
    
    .footer .header-left .sosial-item {
        margin-right: 20px;
        display: flex;
    }
    
    .footer .header-left span {
        display: inline-block;
        margin-top: 0;
    }
    
    .footer-center {
        width: 100%;
        align-items: flex-end;
    }

    .footer-right {
        padding-top: 10px;
        padding-bottom: 100px;
    }
    
    .home-nine-item {
        margin-top: 40px;
    }
    
    .home-nine-item .adress span{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-bottom: 2px;
    }
    
    .home-nine-item .adress text {
        display: none;
    }
    
    .h2-text {
        text-align: left;
    }
    
    .home-one .container {
        padding-top: 20px;
        padding-bottom: 80px;
        box-sizing: border-box;
    }

    .home-three {
        position: relative;
        background-color: #18402E;
        background-image: url(./img/leaf-top.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 222px 80px;
        background-position: 0 0;
    }

        .home-three::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 360.5px;
        background-color: #18402E;
        background-image: url(./img/leaf-bottom.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

        .home-one .button {
        display: flex;
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
        z-index: 10;
    }

        .button {
        display: none;
    }


    .home-seven {
        padding-top: 50px;
        padding-bottom: 0;
    }


    .home-four .container {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 680px) {
    .home-six-block {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    width: calc(100% + 40px);
    box-sizing: border-box;
    padding: 0 20px;
    }

    .home-six-item {
    box-sizing: border-box;
    width: 90%;
    max-width: 320px;
    flex-shrink: 0;
    }

    .home-six-item:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .header .logo {
        padding-left: 0;
    }
    .logos {
        width: 100%;
        justify-content: space-between !important;
    }
    
    .logos .border {
        display: none;
    }
    
    .footer-left span br, .footer-center span br {
        display: none;
    }

    .footer {
        flex-direction: column;
        align-items: stretch;
    }

    .footer-left, 
    .footer-center {
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .footer .header-left {
        width: auto;
    }
    
    .home-four-item span {
        font-size: 14px;
    }

    

    .home-five-item-m {
        align-items: flex-end;
    }

    .home-five-item-m span:last-child {
        text-align: right;
        font-size: 14px;
        margin-top: 0;
    }
    .home-seven .container .h2 {
        font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
        font-size: 25px;
    }
    
}

@media screen and (max-width: 320px) {
    .logo {
        padding: 0;
    }

    .logo img {
        width: 113px;
        height: 47px;
    }
    
    .h1, .h2 {
        font-size: 18px;
    }
    
    .after-title {
        font-size: 14px;
    }


    .home-one .container {
        padding: 20px;
    }

    .home-one-hid {
        display: inline-block;
        font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 149%;

        text-transform: uppercase;

        color: #110F0F;

    }

    .home-one-block, .home-one-block .home-one-item:last-child {
        display: inline-block;
    }

    .home-five {
        padding-top: 75px;
        padding-bottom: 56px;
    }

    .home-five .container {
        padding: 0 20px;
    }

    .home-five-item .h2 {
        font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
        font-weight: 700;
        font-size: 20px;
    }

    .home-five-item-m:nth-child(3) {
        order: 5;
    } 

    .home-five-item-m {
        align-items: flex-start;
    }

    .home-five-item-m span:last-child {
        text-align: left;
    }


    .home-two .container {
        padding-top: 0;
        padding-bottom: 35px;
    }

    .home-two .h2 {
        font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
        font-size: 20px;
        text-align: left;
        padding-right: 10px;
        margin-bottom: 8px;
        font-weight: 700;
    }

    .home-two-block-bgr {
        background: transparent;
    }

    .home-two-item span {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }

    .home-three .container {

        position: relative;
        background-image: none;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 1;
    }

    .home-three .h2 {
        font-family: "FMBolyar Sans Pro 500", "Arial", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 129%;
        padding-right: 62px;
    }

    .home-two-item-top span {
        font-size: 16px;
        line-height: 20px;
    }

    .home-three-item {
        margin-top: 60px;
        max-width: 100%;
    } 

    .home-three-item:nth-child(2) {
        margin-bottom: 60px;
    }

    .home-three-item .descriptions,
     .home-three-text{
        color: #A3B7B3;
        font-size: 16px;
        line-height: 149%;
        margin-top: 20px;
    }

    .home-three .icon-hid {
        width: 44px;
        height: 44px;
        background: rgba(255,255,255,0);
        border-radius: 12px;
        display: inline-block;
        margin-right: 20px;
     }

    .home-three-hid {
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        padding-top: 12px;
        vertical-align: top;
    }

    .home-three-bottom {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 100px;
        z-index: 1;
    }

    .home-seven .container .h2 {
        font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
        font-size: 20px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-weight: bold;
    }

    .home-seven .h2-text {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .qant {
        margin-top: 15px;
    }

    .h2-text-2 {
        font-size: 16px;
    }

    .home-six {
        padding-top: 0;
    }

    .home-six .h2 {
        font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
        font-size: 20px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
    }

    .home-six .h2-text {
        font-size: 18px;
        line-height: 150%;
        text-align: left;
    }

    .home-six .home-six-item {
        padding: 20px;
        height: 140px;
        margin: 0 10px;
    }

     .home-six .home-six-item .img { 
        width: 80px;
        height: 100px;
        border-radius: 100px;
     }

     .home-six .home-six-item .text-box {
        margin-left: 33px;
        line-height: 18px;
     }
     .home-six-item:last-child {
        order: -1;
        margin-left: 0;
     }

     .home-four .container {
        padding-top: 0;
     }
    
    .home-four .h2,
    .home-eight .h2 {
        font-family: "FMBolyar Sans Pro 700", "Arial", sans-serif;
        font-size: 20px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
    }

    .home-four-block {
        margin-bottom: 61px;
    }

    .home-nine-item {
        text-align: left;
    }

    .footer .container {
        padding: 0 20px
    }

    .footer-left {
        text-align: left;
    }

    .footer-left img {
        margin-right: auto;
    }

    .footer .header-left {
        margin-right: auto;
    }

    .footer-text {
        margin-bottom: 30px;
    }

    .footer-center span {
        margin-top: 30px;
        text-align: left
    }
    
    .footer-right span {
        margin-bottom: 100px;
    }

}
